body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }

  .collision {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: dash 1s ease infinite; /*alternate infinite; */
    filter: url(#red-glow);
    position: absolute;
    z-index: -1;
  }

  .path {
    position: absolute;
    z-index: -1;
  }

  .svgRoutes {
    position: absolute;
    z-index: -1;
  }

  .priorityButton {
    position: relative;
    top: 160px;
    left: 10px;
    background-color: #050801;
    padding: 10px 10px;
    margin: 10px 10px;
    color: #03e9f4;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 1px;
  }

  .priorityButton:hover
  {
      background:#000000 ;
      color: #eaeaea;
      box-shadow: 0 0 5px #3d4a43,
                  0 0 20px #3d4a43,
                  0 0 30px #3d4a43,
                  0 0 15px #3d4a43;
  }

  .resetButton {
    position: relative;
    top: 160px;
    left: 20px;
    color: #050801;
  }

  .triggerButton {
    background-color: grey;
    position: relative;
    top: 700px;
  }

  .game {
    position: relative
  }

  
  @keyframes dash {
    from {
      stroke-dashoffset: 1;
    }
    to {
      stroke-dashoffset: 0;
    }
  }